.uiComponent {
    /* background-color: red; */
    padding: 2px;
}

.uiComponent .componentTitle {
    color: var(--ui-component-color-text);
    margin: 0px 5px 0px 5px;
}

.uiComponent .componentTitle.listTitle {
    display: flex;
    height: 18px;
}

.uiComponent .cost {
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: 5px;
    height: 15px;
    border-radius: 100%;
    aspect-ratio: 1;
    border: 1px var(--color-ui-costToken-default) solid;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: 100ms;
    background-color: var(--color-ui-costToken-default-bg-inner);
    box-shadow: 0px 0px 0.69px 1.5px var(--color-ui-costToken-default-bg-outer);
}
.uiComponent .cost.floating {
    position: absolute;
    right: 0;
    transform: translate(0px, -100%);
}
.uiComponent .cost.inline {
    display: inline-block;
    height: 16px;
    vertical-align: -3px;
    margin-left: 5px;
    margin-right: 0px;
}
.uiComponent .cost.darkBG {
    background-color: var(--color-ui-costToken-default-bg-inner-dark);
    box-shadow: 0px 0px 0.69px 1.5px var(--color-ui-costToken-default-bg-outer-dark);
}
.uiComponent .cost > p {
    font-size: 8pt;
    color: var(--color-ui-costToken-default);
    inset: 0px;
    margin: 0px;
    line-height: 0px;
    transition: none;
}
.uiComponent input:checked ~ label .cost.floating,
.uiComponent input:checked ~ label .cost.inline,
.uiComponent input[type="radio"]:checked + label .cost {
    background-color: var(--color-ui-costToken-selected-bg-inner);
    border-color: var(--color-ui-costToken-selected);
    box-shadow: 0px 0px 0.69px 1.5px var(--color-ui-costToken-selected-bg-outer);
}
.uiComponent input:checked ~ label .cost.floating > p,
.uiComponent input:checked ~ label .cost.inline > p,
.uiComponent input[type="radio"]:checked + label .cost > p {
    color: var(--color-ui-costToken-selected);
}
.uiComponent input:checked ~ label .cost.darkBG {
    background-color: var(--color-ui-costToken-selected-bg-inner-dark);
    box-shadow: 0px 0px 0.69px 1.5px var(--color-ui-costToken-selected-bg-outer-dark);
}
/* cost inidicators: in general, 
 - normal: basic everywhere + multioption, 
 - floating: dropdown,
 - inline + darkBG: toggle,
 - input[type="radio"] + label: multioption */
