.canvasSize {
    flex-direction: column;
    display: flex;
    /* background-color: cyan; */
    height: 1fr;
}
.canvasSize[hidden] {
    display: none;
}

.canvasSize .imageContainer {
    
    /* display: none; */
    position: relative;
    width: calc(100% - (var(--ui-component-canvas-inset) * 2));
    height: calc(100% - (var(--ui-component-canvas-inset) * 2));
    min-height: 60px;
    /* left: var(--ui-component-canvas-inset); */
    /* bottom: var(--ui-component-canvas-inset); */
    /* background-color: red; */
    /* align-content: center; */
    /* align-items: center; */
    /* justify-content: center; */
}

.canvasSize .image {
    background-color: transparent;
    /* display: inline-flex; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}



.canvasSize .image.all {
    filter: drop-shadow(0 1px 2px #02010369);
    -webkit-filter: drop-shadow(0 1px 2px #02010369);
    /* 
    filter:
        drop-shadow(2px 0px 1px black) 
        drop-shadow(0px -2px 1px black) 
        drop-shadow(-2px 0px 1px black) 
        drop-shadow(0px 2px 1px black);
    -webkit-filter:
        drop-shadow(2px 0px 1px black) 
        drop-shadow(0px -2px 1px black) 
        drop-shadow(-2px 0px 1px black) 
        drop-shadow(0px 2px 1px black);
    */
}