.canvasSize {
    flex-direction: column;
    display: flex;
    /* background-color: cyan; */
    height: 1fr;
}
.canvasSize[hidden] {
    display: none;
}

.canvasSize .imageContainer {

    /* display: none; */
    position: relative;
    width: calc(100% - (var(--ui-component-canvas-inset) * 2));
    height: calc(100% - (var(--ui-component-canvas-inset) * 2));
    min-height: 60px;
}

.canvasSize .image {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
.canvasSize .image.frame {
    opacity: 0;
    transition: opacity 0.4s;
}
.canvasSize .image.frame:hover {
    opacity: 0.69;
    cursor: pointer;
    transition: opacity 0s;
}
.canvasSize .image.frame[selected] {
    opacity: 1;
    transition: opacity 0.1s;
}

/* clip paths made with https://unused-css.com/tools/clip-path-generator */
.canvasSize .image.frame.sm {
    clip-path: polygon(14.95% 63.74%, 59.36% 57.14%, 58.93% 92.31%, 15.82% 99.78%);
    z-index: 8;
}
.canvasSize .image.frame.smp {
    clip-path: polygon(13.48% 55.78%, 65.87% 48.71%, 65.59% 90.62%, 13.86% 99.51%);
    z-index: 7;
}
.canvasSize .image.frame.md {
    clip-path: polygon(8.14% 41.74%, 77.36% 31.76%, 76.6% 85.52%, 8.2% 98.78%);
    z-index: 6;
}
.canvasSize .image.frame.mdp {
    clip-path: polygon(6.19% 34.07%, 83.51% 23.39%, 83.24% 84.09%, 6.9% 98.05%);
    z-index: 5;
}
.canvasSize .image.frame.lg {
    clip-path: polygon(1.19% 26.61%, 86.46% 15.01%, 85.87% 82.71%, 2.22% 97.09%);
    z-index: 4;
}
.canvasSize .image.frame.lgp {
    clip-path: polygon(0% 11.67%, 100% 0%, 99.74% 79.09%, 0.76% 96.61%);
    z-index: 3;
}



.canvasSize .image.all {
    filter: drop-shadow(0 1px 2px #02010369);
    -webkit-filter: drop-shadow(0 1px 2px #02010369);
    /* 
    filter:
        drop-shadow(2px 0px 1px black) 
        drop-shadow(0px -2px 1px black) 
        drop-shadow(-2px 0px 1px black) 
        drop-shadow(0px 2px 1px black);
    -webkit-filter:
        drop-shadow(2px 0px 1px black) 
        drop-shadow(0px -2px 1px black) 
        drop-shadow(-2px 0px 1px black) 
        drop-shadow(0px 2px 1px black);
    */
}