/* N-Value Dropdown List
https://uiverse.io/nickyonge/soft-zebra-63 */

.dropdownContainer {
    /* width: 200px; */
    height: 30px;
}

.dropdown {
    z-index: 10;
    font-size: 10.5pt;
    cursor: pointer;
    position: relative;
    transition: 300ms;
    color: white;
    overflow: hidden;
}

.ddSelected {
    background-color: #2a2f3b;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
    position: relative;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 300ms;
}

.ddSelected::before {
    content: attr(data-label);
}

.ddArrow {
    position: relative;
    right: 0px;
    height: 10px;
    transform: rotate(-90deg);
    width: 25px;
    fill: white;
    z-index: 100000;
    transition: 300ms;
}

.ddOptions {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    background-color: #2a2f3b;
    position: relative;
    top: -100px;
    opacity: 0;
    transition: 300ms;
}

.dropdown:focus-visible > .ddOptions,
.ddSelected:focus-visible > .ddOptions,
.dropdown:has(:focus-visible) > .ddOptions,
.dropdown:hover > .ddOptions {
    /* :has(:focus-visible) seems to emulate :focus-visible-within, cuz why not */
    opacity: 1;
    top: 0;
}
.dropdown:focus-visible > .ddSelected .arrow,
.ddSelected:focus-visible > .ddSelected .arrow,
.dropdown:hover > .ddSelected .arrow {
    transform: rotate(0deg);
}
.dropdown:focus-visible > .ddSelected,
.ddSelected:focus-visible > .ddSelected,
.dropdown:hover > .ddSelected {
    transition: 300ms;
    background-color: #424751;
}
.ddOption:focus-visible,
.ddSelected:focus-visible,
.ddOption:hover {
    background-color: #424751;
}

.ddOption {
    border-radius: 5px;
    padding: 5px;
    transition: 300ms;
    background-color: #2a2f3b;
}
.ddOptions input[type="radio"] {
    display: none;
}

.ddOptions label {
    display: block;
    width: calc(100% - 10px);
    cursor: pointer;
    color: white;
}

/* Show the option text directly */
.ddOptions label::before {
    content: attr(data-txt);
}

/* use background-color to highlight selected option, or use display:none to hide it */
.ddOptions input[type="radio"]:checked + label {
    background-color: #042069;
    /*display: none;*/
}

/* Dynamic: the selected label text is copied to .selected */
.ddOptions input[type="radio"]:checked + label::before {
    content: attr(data-txt);
}

/* EXAMLPE HTML 

<div class="dropdownContainer">
    <div class="componentTitle">My Dropdown Friend</div>
    <div class="dropdown">

        <div class="ddSelected" data-label="All">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="ddArrow">
                <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"></path>
            </svg>
        </div>
        
        <div class="ddOptions">

            <div>
                <input id="all" name="ddOption" type="radio" checked="" />
                <label class="ddOption" for="all" data-txt="All"></label>
            </div>

            <div>
                <input id="opt-1" name="ddOption" type="radio" />
                <label class="ddOption" for="opt-1" data-txt="Option A"></label>
            </div>

            <div>
                <input id="opt-2" name="ddOption" type="radio" />
                <label class="ddOption" for="opt-2" data-txt="Option B"></label>
            </div>

            <div>
                <input id="opt-3" name="ddOption" type="radio" />
                <label class="ddOption" for="opt-3" data-txt="Option C"></label>
            </div>

        </div>
    </div>
</div>
*/