/* Multi Options List
https://uiverse.io/nickyonge/mighty-hound-30 */

.multichoicelist {
    width: 100%;
}

.listselect {
    padding: 0px;
    width: 100%;
    background-color: var(--ui-component-color-bg);
    border-radius: var(--ui-component-border-radius);
    cursor: pointer;
}
.listselect.horizontal {
    /* display:none; */
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.listselect input[type="radio"] {
    display: none;
}

.listselect .value {
    background-color: transparent;
    border: none;
    padding-left: 3px;
    margin-left: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: var(--ui-component-color-input);
    display: flex;
    align-items: center;
    position: relative;
    width: calc(100% - 3px);
    cursor: pointer;
    border-radius: var(--ui-component-border-radius);
    transition: all 150ms;
    min-height: 22px;
    max-height: 60px;
    height: auto;
}
.listselect.horizontal .value {
    display: inline-flex;
    width: auto;
    flex-grow: 1;
}

.listselect .value > p {
    margin: 0px;
    transform-origin: 4px 50%;
    padding-left: 8px;
    transition: all 150ms;
}
.listselect.horizontal .value > p {
    width: calc(100% - 3px);
    text-align: center;
    padding-left: 0;
    transform-origin: 50% 50%;
}
.listselect .value svg {
    /* uncomment display: none to view what list looks like without SVGs */
    /*display: none; */
    width: 16px;
    opacity: 50%;
    transition: all 200ms;
    margin-right: -5px;
}

.listselect .value:hover {
    background-color: var(--ui-component-color-bg-highlight);
}
.listselect.horizontal .value:hover {
    background-color: var(--ui-component-color-bg-highlight);
}

.listselect input[type="radio"]:checked + .value {
    background-color: var(--ui-component-color-bg-highlight);
    border-radius: var(--ui-component-border-radius-middle) var(--ui-component-border-radius) var(--ui-component-border-radius) var(--ui-component-border-radius-middle);
    transition: all 200ms;
}
.listselect.horizontal input[type="radio"] + .value {
    border-radius: var(--ui-component-border-radius-middle);
}
.listselect.horizontal input[type="radio"]:first-of-type + .value {
    border-radius: var(--ui-component-border-radius) var(--ui-component-border-radius-middle) var(--ui-component-border-radius-middle) var(--ui-component-border-radius);
}
.listselect.horizontal input[type="radio"]:last-of-type + .value {
    border-radius: var(--ui-component-border-radius-middle) var(--ui-component-border-radius) var(--ui-component-border-radius) var(--ui-component-border-radius-middle);
}
.listselect input[type="radio"]:checked + .value svg {
    transition: all 200ms;
    opacity: 1;
}

.listselect .value::before {
    content: "";
    position: absolute;
    top: 22%;
    left: -6.9px;
    width: 7px;
    height: 60%;
    background-color: var(--ui-component-color-enabled-light);
    border-radius: var(--ui-component-border-radius) var(--ui-component-border-radius-middle) var(--ui-component-border-radius-middle) var(--ui-component-border-radius);
    opacity: 0;
    transition: all 150ms;
    z-index: 1;
}
.listselect.horizontal .value::before {
    top: 100%;
    height: 5px;
    width: 69%;
    left: 15.5%;
    border-radius: var(--ui-component-border-radius-middle) var(--ui-component-border-radius-middle) var(--ui-component-border-radius) var(--ui-component-border-radius);
}

.listselect input[type="radio"]:checked + .value::before {
    opacity: 1;
    top: 0%;
    height: 100%;
    transition: all 690ms;
}
.listselect.horizontal input[type="radio"]:checked + .value::before {
    left: 2%;
    top: 100%;
    width: 96%;
    height: 5px;
    transition: all 420ms;
}

.listselect:hover > input:not(:checked) + .value:not(:hover) > p {
    transition: all 169ms ease-out;
    transform: scale(1) translate(2px, 0px);
}

.listselect:hover > input:checked + .value:hover > p {
    transform: scale(1.05) translate(3px, 0px);
    transition: all 169ms ease-out;
}
.listselect:hover > input:checked + .value > p {
    transform: scale(1.05) translate(2px, 0px);
    transition: all 169ms ease-out;
}
.listselect:hover > input:checked + .value svg {
    opacity: 1;
    transition: all 169ms ease-out;
}

.listselect:hover > .value:hover  > p {
    transform: scale(1.05) translate(5px, 0px);
    transition: all 169ms ease-out;
}
.listselect:hover > .value:hover svg {
    opacity: 0.8;
    transition: all 169ms ease-out;
}



.listselect:hover.horizontal > input:not(:checked) + .value:not(:hover) > p {
    transform: scale(1);
}

.listselect:hover.horizontal > input:checked + .value:hover > p {
    transform: scale(1.05);
}
.listselect:hover.horizontal > input:checked + .value > p {
    transform: scale(1.05);
}

.listselect:hover.horizontal > .value:hover  > p {
    transform: scale(1.05);
}
