@property --slider-value {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 50%;
}

.slider {
    /* slider variables */
    --slider-thumb-color: #5ffaed;
    --slider-track-base-color: #51565c;
    --slider-track-highlight-color: #5ffaed;

    --slider-track-height: 10px;
    --slider-track-radius: calc(var(--slider-track-height) / 2);

    --slider-thumb-size: 15px;
    --slider-thumb-radius: calc(var(--slider-thumb-size) / 2);
    --slider-thumb-border-width: 2px;
    --slider-thumb-border-offset: 5px;

    --slider-thumb-border-appear-time: 169ms;
    --slider-thumb-border-disappear-time: 100ms;

    --slider-bg-z-index: 1;
    --slider-thumb-z-index: 2;
}

.slider.container {
    width: 200px;
    height: 10px;
    min-height: max(var(--slider-track-height), var(--slider-thumb-size));
    position: relative;
    border-radius: var(--slider-track-radius);
    align-content: center;
    justify-content: center;
}

.slider .sbg {
    position: absolute;
    left: calc(var(--slider-thumb-size) * 0.75);
    top: 50%;
    /*     margin-left: 7.5px; */
    transform: translate(0%, -50%);
    width: calc(100% - (var(--slider-thumb-size) * 1.25));
    height: var(--slider-track-height);
    border-radius: var(--slider-track-radius);
    /* simple slider: hard cutoff between highlight and base */
    background: linear-gradient(to right,
            var(--slider-track-highlight-color, var(--slider-track-base-color)) var(--slider-value),
            var(--slider-track-base-color) 0);
    /* gradient slider: for transparent thumbs, makes a gradient that appears inside the width of the slider thumb */
    /*     background: linear-gradient(
        to right,
        var(--slider-track-highlight-color, var(--slider-track-base-color))
            calc(var(--slider-value) - (var(--slider-thumb-size) / 4)),
        var(--slider-track-base-color)
            calc(var(--slider-value) + (var(--slider-thumb-size) / 4))
    ); */
    z-index: var(--slider-bg-z-index);
}

.slider .sinput {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    z-index: var(--slider-thumb-z-index);
    display: flex;
}

.slider .sinput:focus {
    /* removes the default focus outline */
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* WK slider track */
.slider .sinput::-webkit-slider-runnable-track {
    background-color: none;
    border-radius: var(--slider-track-radius);
    height: var(--slider-track-height);
    z-index: var(--slider-thumb-z-index);
}

/* WK slider thumb */
.slider .sinput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: calc((var(--slider-track-height) / 2) - (var(--slider-thumb-size) / 2));
    background-color: var(--slider-thumb-color);
    border-radius: var(--slider-thumb-radius);
    height: var(--slider-thumb-size);
    width: var(--slider-thumb-size);
    outline: 0px solid var(--slider-thumb-color);
    outline-offset: var(--slider-thumb-border-offset);
    transition: all var(--slider-thumb-border-disappear-time) ease-out;
    z-index: var(--slider-thumb-z-index);
}

.slider .sinput:focus::-webkit-slider-thumb {
    outline: var(--slider-thumb-border-width) solid var(--slider-thumb-color);
    outline-offset: var(--slider-thumb-border-offset);
    transition: all var(--slider-thumb-border-appear-time) ease-out;
}

/*********** Firefox styles ***********/
/* FF slider track */
.slider::-moz-range-track {
    background-color: none;
    border-radius: var(--slider-track-radius);
    height: var(--slider-track-height);
    z-index: var(--slider-thumb-z-index);
}

/* FF slider thumb */
.slider .sinput::-moz-range-thumb {
    background-color: var(--slider-thumb-color);
    /*Removes extra border that FF applies*/
    border: none;
    border-radius: var(--slider-thumb-radius);
    height: var(--slider-thumb-size);
    width: var(--slider-thumb-size);
    z-index: var(--slider-thumb-z-index);
}
.slider .sinput:focus::-moz-range-thumb {
    outline: var(--slider-thumb-border-width) solid var(--slider-thumb-color);
    outline-offset: var(--slider-thumb-border-offset);
    transition: all var(--slider-thumb-border-appear-time) ease-out;
}