@property --slider-value {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 50%;
}

.slider {
    /* slider variables */
    --slider-thumb-color: #b30570;
    --slider-track-base-color: #51565c;
    --slider-track-highlight-color: #854a76;

    --slider-track-height: 10px;
    --slider-track-radius: calc(var(--slider-track-height) / 2);

    --slider-thumb-size: 15px;
    --slider-thumb-radius: calc(var(--slider-thumb-size) / 2);
    --slider-thumb-border-width: 2px;
    --slider-thumb-border-offset: 5px;

    --slider-thumb-border-appear-time: 169ms;
    --slider-thumb-border-disappear-time: 100ms;

    --slider-bg-z-index: 1;
    --slider-thumb-z-index: 2;
}

.slider.container {
    width: 100%;
    height: max-content;
    min-height: max(var(--slider-track-height), var(--slider-thumb-size));
    position: relative;
    border-radius: var(--slider-track-radius);
    align-content: center;
    justify-content: center;
}

.slider .sbg {
    position: absolute;
    left: calc(var(--slider-thumb-size) * 0.75);
    transform: translate(0%, -125%);
    width: calc(100% - (var(--slider-thumb-size) * 1.25));
    height: var(--slider-track-height);
    border-radius: var(--slider-track-radius);
    /* simple slider: hard cutoff between highlight and base */
    background: linear-gradient(to right,
            var(--slider-track-highlight-color, var(--slider-track-base-color)) var(--slider-value),
            var(--slider-track-base-color) 0);
    /* gradient slider: for transparent thumbs, makes a gradient that appears inside the width of the slider thumb */
    /*     background: linear-gradient(
        to right,
        var(--slider-track-highlight-color, var(--slider-track-base-color))
            calc(var(--slider-value) - (var(--slider-thumb-size) / 4)),
        var(--slider-track-base-color)
            calc(var(--slider-value) + (var(--slider-thumb-size) / 4))
    ); */
    z-index: var(--slider-bg-z-index);
}

.slider .sinput {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    z-index: var(--slider-thumb-z-index);
    display: flex;
}

.slider .sinput:focus {
    /* removes the default focus outline */
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* WK slider track */
.slider .sinput::-webkit-slider-runnable-track {
    background-color: none;
    border-radius: var(--slider-track-radius);
    height: var(--slider-track-height);
    z-index: var(--slider-thumb-z-index);
}

/* WK slider thumb */
.slider .sinput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    top: 0;
    margin-top: calc(var(--slider-thumb-size) / -4);
    /* margin-top: calc((var(--slider-track-height) / 2) - (var(--slider-thumb-size) / 2)); */
    background-color: var(--slider-thumb-color);
    border-radius: var(--slider-thumb-radius);
    height: var(--slider-thumb-size);
    width: var(--slider-thumb-size);
    outline: 0px solid var(--slider-thumb-color);
    outline-offset: var(--slider-thumb-border-offset);
    transition: all var(--slider-thumb-border-disappear-time) ease-out;
    z-index: var(--slider-thumb-z-index);
}

.slider .sinput:focus::-webkit-slider-thumb {
    outline: var(--slider-thumb-border-width) solid var(--slider-thumb-color);
    outline-offset: var(--slider-thumb-border-offset);
    transition: all var(--slider-thumb-border-appear-time) ease-out;
}

/*********** Firefox styles ***********/
/* FF slider track */
.slider::-moz-range-track {
    background-color: none;
    border-radius: var(--slider-track-radius);
    height: var(--slider-track-height);
    z-index: var(--slider-thumb-z-index);
}

/* FF slider thumb */
.slider .sinput::-moz-range-thumb {
    background-color: var(--slider-thumb-color);
    /*Removes extra border that FF applies*/
    border: none;
    border-radius: var(--slider-thumb-radius);
    height: var(--slider-thumb-size);
    width: var(--slider-thumb-size);
    z-index: var(--slider-thumb-z-index);
}
.slider .sinput:focus::-moz-range-thumb {
    outline: var(--slider-thumb-border-width) solid var(--slider-thumb-color);
    outline-offset: var(--slider-thumb-border-offset);
    transition: all var(--slider-thumb-border-appear-time) ease-out;
}

/* tickmarks */

.slider .stickmarks {
    position: absolute;
    top: 0; /* Position below the slider */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.slider .stickmarks span {
    width: 1px;
    /*     margin-top: calc(var(--slider-track-height) * 0.125);
    height: calc(var(--slider-track-height) * 0.75); */
    height: var(--slider-track-height);
    background: linear-gradient(
        to top,
        #00000069 0%,
        #000000db 69%,
        #696969db 100%
    );
    opacity: 0.213;
}
.slider .stickmarks span:first-child,
.slider .stickmarks span:last-child {
    visibility: hidden;
}
.slider .stickmarks span:nth-child(odd):nth-last-child(odd) {
    opacity: 0.369;
}
.slider .stickmarks span:nth-child(1):nth-last-child(1),
.slider .stickmarks span:nth-child(2):nth-last-child(2),
.slider .stickmarks span:nth-child(3):nth-last-child(3),
.slider .stickmarks span:nth-child(4):nth-last-child(4),
.slider .stickmarks span:nth-child(5):nth-last-child(5),
.slider .stickmarks span:nth-child(6):nth-last-child(6),
.slider .stickmarks span:nth-child(7):nth-last-child(7),
.slider .stickmarks span:nth-child(8):nth-last-child(8),
.slider .stickmarks span:nth-child(9):nth-last-child(9),
.slider .stickmarks span:nth-child(10):nth-last-child(10),
.slider .stickmarks span:nth-child(11):nth-last-child(11),
.slider .stickmarks span:nth-child(12):nth-last-child(12),
.slider .stickmarks span:nth-child(13):nth-last-child(13),
.slider .stickmarks span:nth-child(14):nth-last-child(14),
.slider .stickmarks span:nth-child(15):nth-last-child(15),
.slider .stickmarks span:nth-child(16):nth-last-child(16),
.slider .stickmarks span:nth-child(17):nth-last-child(17),
.slider .stickmarks span:nth-child(18):nth-last-child(18),
.slider .stickmarks span:nth-child(19):nth-last-child(19),
.slider .stickmarks span:nth-child(20):nth-last-child(20),
.slider .stickmarks span:nth-child(21):nth-last-child(21),
.slider .stickmarks span:nth-child(22):nth-last-child(22),
.slider .stickmarks span:nth-child(23):nth-last-child(23),
.slider .stickmarks span:nth-child(24):nth-last-child(24),
.slider .stickmarks span:nth-child(25):nth-last-child(25) {
    opacity: 0.69;
}