.svgImage {

    --svgImage-min-size: 20px;
    --svgImage-max-size: 213px;

}

.svgImage.container {
    display: flex;
    position: relative;
    width: attr(width, 100%);
    height: attr(height, auto);
    min-width: attr(min-width, attr(min-size,var(--svgImage-min-size)));
    min-height: attr(min-height, attr(min-size,var(--svgImage-min-size)));
    max-width: attr(max-width, attr(max-size,var(--svgImage-max-size)));
    max-height: attr(max-height, attr(max-size,var(--svgImage-max-size)));
    aspect-ratio: attr(aspect-ratio, initial);

    justify-self: center;
}

.svgImage .canvasSize {
    min-height: calc(attr(min-width, attr(min-size,var(--svgImage-min-size))) * 0.5);
    max-height: calc(attr(max-width, attr(max-size,var(--svgImage-max-size))) * 0.5);
    aspect-ratio: attr(aspect-ratio, 2);
}

.svgImage .image {
    flex-grow: 1;
    background-color: #ff00ff69;
}