/* "Pure CSS tab indicator animation" by CeramicSoda
https://codepen.io/ceramicSoda/pen/WNgybXN */

/* html,body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #d3dce6;
  font-family: monospace; 
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    float: left;
}


.tabs label {
    /* font-size: 9pt; */
    display: flex;
    align-items: center;
    justify-content: right;
    /* font-weight: 700; */
    cursor: pointer;
    color: var(--ui-data-sidebar-color-text);
    opacity: var(--ui-data-sidebar-color-opacity);
    width: 110px;
    height: 20%;
    text-align: right;
    z-index: 100;
    user-select: none;
    margin-left: auto;
    padding-right: 10px;
    transition: opacity 0.2s ease-out;
}
.tabs .separator {
    background: linear-gradient(2.13deg,
            var(--ui-data-sidebar-transition) 0%,
            var(--ui-data-sidebar-transparent) 6.9%);
    transition: opacity 0.2s ease-out, --ui-data-sidebar-transition 0.1s 0.1s;
}
@media screen and (max-height: 280px) {
    .tabs label {
        font-size: 9pt;
        max-width: 100px;
    }
}
.tabs label .text {
    padding-right: 0px;
    position: relative;

    display: inline-block;
    height: auto;
}
.tabs label .icon {
    width: 24px;
    margin-left: 10px;
    height: auto;
    /* filter: brightness(0.69) hue-rotate(213deg) saturate(80%); */
}
.tabs input[type="radio"] {
    display: none;
    width: 0;
}
.tabs label:hover,
.tabs input[type="radio"]:checked+label {
    opacity: var(--ui-data-sidebar-color-opacity-hover-selected);
}

.tabs input[type="radio"]:checked+label {
    --ui-data-sidebar-transition: var(--ui-data-sidebar-transparent);
}

.tabs input[type="radio"]:checked+label {
    color: var(--ui-data-sidebar-color-text-selected);
}

.tabMarker {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    transition: transform .2s ease-in-out;
}
.tabMarker #tmBottom,
.tabMarker #tmTop {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--ui-data-sidebar-color-background);
    box-shadow: 0px 0px 32px var(--ui-data-sidebar-color-shadow);
}
.tabMarker #tmTop {
    top: calc(-100% - 0.213px);
    padding-bottom: 0px;
    border-radius: 0 0 var(--ui-data-window-sidebar-rounding) 0;
}
.tabMarker #tmBottom {
    top: 20%;
    margin-top: 1px;
    border-radius: 0 var(--ui-data-window-sidebar-rounding) 0 0;
}
#tab1:checked~.tabMarker {
    transform: translateY(calc(calc(100% / 5) * 0));
}
#tab2:checked~.tabMarker {
    transform: translateY(calc(calc(100% / 5) * 1));
}
#tab3:checked~.tabMarker {
    transform: translateY(calc(calc(100% / 5) * 2));
}
#tab4:checked~.tabMarker {
    transform: translateY(calc(calc(100% / 5) * 3));
}
#tab5:checked~.tabMarker {
    transform: translateY(calc(calc(100% / 5) * 4));
}


label .icon {
    filter: 
        grayscale(var(--ui-data-sidebar-tab1-grayscale)) 
        brightness(var(--ui-data-sidebar-tab-brightness-sel)) 
        saturate(var(--ui-data-sidebar-tab-saturation-sel)) 
        hue-rotate(var(--ui-data-sidebar-tab1-hue));
}
#tab3 + label .icon {
    opacity: 1;
    filter: 
        grayscale(var(--ui-data-sidebar-tab1-grayscale)) 
        brightness(var(--ui-data-sidebar-tab-brightness-sel)) 
        saturate(var(--ui-data-sidebar-tab-saturation-sel)) 
        hue-rotate(var(--ui-data-sidebar-tab1-hue));
}
#tab3 + label { 
    opacity: 1;
}

/* 
#tab1 + label .icon {
    filter: grayscale(var(--ui-data-sidebar-tab1-grayscale)) brightness(var(--ui-data-sidebar-tab-brightness-unsel)) saturate(var(--ui-data-sidebar-tab-saturation-unsel)) hue-rotate(var(--ui-data-sidebar-tab1-hue)) saturate(var(--ui-data-sidebar-tab-saturation-unsel));
}
#tab2 + label .icon {
    filter: brightness(var(--ui-data-sidebar-tab-brightness-unsel)) hue-rotate(var(--ui-data-sidebar-tab2-hue)) saturate(var(--ui-data-sidebar-tab-saturation-unsel));
}
#tab3 + label .icon {
    filter: brightness(var(--ui-data-sidebar-tab-brightness-unsel)) hue-rotate(var(--ui-data-sidebar-tab3-hue)) saturate(var(--ui-data-sidebar-tab-saturation-unsel));
}
#tab4 + label .icon {
    filter: brightness(var(--ui-data-sidebar-tab-brightness-unsel)) hue-rotate(var(--ui-data-sidebar-tab4-hue)) saturate(var(--ui-data-sidebar-tab-saturation-unsel));
}
#tab5 + label .icon {
    filter: brightness(var(--ui-data-sidebar-tab-brightness-unsel)) hue-rotate(var(--ui-data-sidebar-tab5-hue)) saturate(var(--ui-data-sidebar-tab-saturation-unsel));
}
#tab1:checked + label .icon {
    filter: grayscale(var(--ui-data-sidebar-tab1-grayscale)) brightness(var(--ui-data-sidebar-tab-brightness-sel)) hue-rotate(var(--ui-data-sidebar-tab1-hue)) saturate(var(--ui-data-sidebar-tab-saturation-sel));
}
#tab2:checked + label .icon {
    filter: brightness(var(--ui-data-sidebar-tab-brightness-sel)) hue-rotate(var(--ui-data-sidebar-tab2-hue)) saturate(var(--ui-data-sidebar-tab-saturation-sel));
}
#tab3:checked + label .icon {
    filter: brightness(var(--ui-data-sidebar-tab-brightness-sel)) hue-rotate(var(--ui-data-sidebar-tab3-hue)) saturate(var(--ui-data-sidebar-tab-saturation-sel));
}
#tab4:checked + label .icon {
    filter: brightness(var(--ui-data-sidebar-tab-brightness-sel)) hue-rotate(var(--ui-data-sidebar-tab4-hue)) saturate(var(--ui-data-sidebar-tab-saturation-sel));
}
#tab5:checked + label .icon {
    filter: brightness(var(--ui-data-sidebar-tab-brightness-sel)) hue-rotate(var(--ui-data-sidebar-tab5-hue)) saturate(var(--ui-data-sidebar-tab-saturation-sel));
} */