/* "Pure CSS tab indicator animation" by CeramicSoda
https://codepen.io/ceramicSoda/pen/WNgybXN */

/* html,body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #d3dce6;
  font-family: monospace; 
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    float: left;
}


.tabs label {
    /* font-size: 9pt; */
    display: flex;
    align-items: center;
    justify-content: right;
    /* font-weight: 700; */
    cursor: pointer;
    color: #525d6f;
    opacity: .4;
    transition: opacity .4s ease-in-out;
    /* width: 100%; */
    width: 110px;
    height: 20%;
    text-align: right;
    z-index: 100;
    user-select: none;
    margin-left: auto;
    /* margin-right: 10px; */
    padding-right: 10px;
    /* background-color: red; */
    background: linear-gradient(1.69deg, var(--ui-data-sidebar-transition) 0%, var(--ui-data-sidebar-transparent) 5%);
    transition: --ui-data-sidebar-transition 0.1s 0.1s;
}
@media screen and (max-height: 280px) {
    .tabs label {
        font-size: 9pt;
        max-width: 100px;
    }
}
.tabs label .text {
    padding-right: 0px;
    position: relative;

    display: inline-block;
    height: auto;
}
.tabs label .icon {
    /* padding-right: 0px;
    position: relative;
    display: inline-block; */
    width: 24px;
    margin-left: 10px;
    height: auto;
    filter: brightness(0.213);
    /* display: none; */
}
.tabs input[type="radio"] {
    display: none;
    width: 0;
}
.tabs label:hover,
.tabs input[type="radio"]:checked+label {
    opacity: 1;
}

.tabs input[type="radio"]:checked+label {
    --ui-data-sidebar-transition: var(--ui-data-sidebar-transparent);
}

/* .tabs input[type="radio"]:checked+label {
} */
.tabMarker {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* top: -50%; */
    left: 0;
    transition: transform .2s ease-in-out;
}
.tabMarker #tmBottom,
.tabMarker #tmTop {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #ebf0f4;
    box-shadow: 0px 0px 32px #2e364315;
}
.tabMarker #tmTop {
    top: calc(-100% - 0.213px);
    padding-bottom: 0px;
    border-radius: 0 0 var(--ui-data-window-sidebar-rounding) 0;
}
.tabMarker #tmBottom {
    top: 20%;
    margin-top: 1px;
    border-radius: 0 var(--ui-data-window-sidebar-rounding) 0 0;
}
#tab1:checked~.tabMarker {
    transform: translateY(calc(calc(100% / 5) * 0));
}
#tab2:checked~.tabMarker {
    transform: translateY(calc(calc(100% / 5) * 1));
}
#tab3:checked~.tabMarker {
    transform: translateY(calc(calc(100% / 5) * 2));
}
#tab4:checked~.tabMarker {
    transform: translateY(calc(calc(100% / 5) * 3));
}
#tab5:checked~.tabMarker {
    transform: translateY(calc(calc(100% / 5) * 4));
}
/* #tab6:checked~.tabMarker {
    transform: translateY(calc(calc(51% / 6) * 5));
} */

/* .tabs .popup {
    width: 80%;
    height: 80%;
    min-height: 480px;
    max-height: 480px;
    border-radius: 48px;
    box-sizing: border-box;
    border: 16px solid #ebf0f4;
    background-color: #dfe6ed;
    overflow: hidden;
    box-shadow: 16px 16px 48px #2e364330;
} */