@import 'vars.css';

body {
    height: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inclusive Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10.5pt;
    color: var(--color-text-body);
    background-color: var(--color-bg-solid);
    background-image: radial-gradient(var(--color-bg-gradient-1), var(--color-bg-gradient-2) 40%, var(--color-bg-gradient-3) 127%);
}
h1 {
    margin: 0;
    font-size: 21.3pt;
    margin-top: 0px;
}
h3 {
    margin: 0;
    font-size: 12pt;
    margin-top: 6.9px;
    opacity: 0.8;
}

/* TODO: switch to linear gradient */
@media screen and (min-aspect-ratio: 3) {
    body {
        background-image: none;
    }
}

#content {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    grid-template:
        [header] "header header" var(--ui-header-height) 
        [main] "artWindow dataWindow" 1fr
        [footer] "footer footer" var(--ui-footer-height) 
        / var(--ui-art-window-ratio) 1fr;
}

@media screen and (max-aspect-ratio: 1.2) {
    #content {
        grid-template:
            [header] "header" var(--ui-header-height) 
            [main] "artWindow" var(--ui-art-window-ratio) 
            [main] "dataWindow" 1fr
            [footer] "footer" var(--ui-footer-height) / 1fr;
    }
}

header {
    grid-area: header;
}
artWindow {
    grid-area: artWindow;
}
dataWindow {
    grid-area: dataWindow;
}
footer {
    grid-area: footer;
}


dataWindow {
    height: calc(100% - (var(--ui-data-window-margin) * 2));
    overflow: hidden;
    margin: var(--ui-data-window-margin);
}


.title {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    padding-left: 12px;
    position: relative;
    align-items: left;

    /* font-size: 16pt; */
}


.preventSelect {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}


header.demoBG {
    background-color: var(--demo-bg-navbar);
}
footer.demoBG {
    background-color: var(--demo-bg-navbar);
}
artWindow.demoBG {
    background-color: var(--demo-bg-winart);
}
dataWindow.demoBG {
    background-color: var(--demo-bg-windat);
}