@import 'vars.css';

body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inclusive Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10.5pt;
    color: var(--color-text-body);
    background-color: var(--color-bg-solid);
    background-image: radial-gradient(var(--color-bg-gradient-1), var(--color-bg-gradient-2) 40%, var(--color-bg-gradient-3) 127%);
}
@media screen and (min-aspect-ratio: 3) {
    body {
        background-image: none;
    }
}
