@import 'vars.css';

body {
    height: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inclusive Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10.5pt;
    color: var(--color-text-body);
    background-color: var(--color-bg-solid);
    background-image: radial-gradient(var(--color-bg-gradient-1), var(--color-bg-gradient-2) 40%, var(--color-bg-gradient-3) 127%);
}
@media screen and (min-aspect-ratio: 3) {
    body {
        background-image: none;
    }
}

/* Content window and subwindows */

.content {
    position: absolute;
    display: table;
    table-layout: fixed;
    width: 100%;
    top: var(--navbar-height);
    height: calc(100% - (var(--navbar-height) * 2));
    /* background-color: blueviolet; */
}

.content.window {
    position: relative;
    display: table-cell;
    top: 0;
    width: auto;
    height: auto;
}

.content.window.art {
    /* max-width: 40%;
    width: auto; */
}
.content.window.data {
    /* min-width: 420px;
    width: 60%; */
}

@media screen and (max-aspect-ratio: 1.5) {
    .content {
        display: grid;
        grid-auto-flow: column;
    }
    .content.window {
        /* display: list-item; */
        /* grid-column: auto; */
        height: auto;
        width: 100%;
    }
    .content.window.art {
        /* display:block; */
        /* width:auto; */
        /* max-width: 40%;
        width: auto; */
    }
    .content.window.data {
        height: 40%;
        /* display:block; */
        /* display:table-cell; */
        /* min-width: 420px;
        width: 60%; */
    }
}


/* Top and Bottom Navbars */

.topBar {
    position: fixed;
    margin: 0px;
    height: var(--navbar-height);
    width: 100%;
}
.btmBar {
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: var(--navbar-height);
    /* background-color: #224466DD; */
}



/* Demo BG colours */

.topBar.demoBG {
    background-color: var(--demo-bg-navbar);
}
.btmBar.demoBG {
    background-color: var(--demo-bg-navbar);
}
.content.demoBG {
    background-color: var(--demo-bg-window);
}