@import 'vars.css';

body {
    height: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inclusive Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10.5pt;
    color: var(--color-text-body);
    background-color: var(--color-bg-solid);
    background-image: radial-gradient(var(--color-bg-gradient-1), var(--color-bg-gradient-2) 40%, var(--color-bg-gradient-3) 127%);
}
@media screen and (min-aspect-ratio: 3) {
    body {
        background-image: none;
    }
}

.topBar {
    position: fixed;
    margin: 0px;
    height: var(--navbar-height);
    width: 100%;
}

.topBar.demoBG {
    background-color: var(--demo-bg-navbar);
}
.btmBar.demoBG {
    background-color: var(--demo-bg-navbar);
}

.content {
    position: absolute;
    width: 100%;
    top: var(--navbar-height);
    height: calc(100% - (var(--navbar-height) * 2));
    /* background-color: blueviolet; */
}

.content.demoBG {
    background-color: var(--demo-bg-window);
}

.btmBar {
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: var(--navbar-height);
    /* background-color: #224466DD; */
}