/* CSS related to THREE.JS scene rendering */

.threeJS {
    position: relative;
    width: calc(100% + var(--ui-art-canvas-border-width));
    height: 100%;
    inset: 0px;
    top: calc(-100% - (var(--ui-art-canvas-border-width) * 2));
    /* right: 10.69px;
    left: 0px; */
    bottom: calc(0px);
    background-color: #ff00ff69;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    z-index: -999;
    border-radius: var(--ui-art-canvas-border-radius);
}