/* CSS related to THREE.JS scene rendering */

.threeJS {
    position: relative;
    width: 100%;
    height: calc(100% + var(--ui-art-canvas-border-width));
    top: calc(-100% - (var(--ui-art-canvas-border-width) * 3));
    left: var(--ui-art-canvas-border-width);
    border-radius: var(--ui-art-canvas-border-radius);
    z-index: 0;
    /* background-color: #ff00ff69; */
}