:root {

    --color-text-body: #18182e;
    --color-bg-solid: #beeeef; /* TODO: wide/short replace bg solid with linear gradient */
    --color-bg-gradient-1: #4e89db;
    --color-bg-gradient-2: #4680db;
    --color-bg-gradient-3: #225bc8;
    /* --color-bg-gradient-1: #beeeef;
    --color-bg-gradient-2: #a4d4f3; */

    --color-ui-button: #221133b9;


    --demo-bg-navbar: #00000022;
    --demo-bg-winart: #88888821;
    --demo-bg-windat: #ffffff23;

    --ui-header-height: 45px;
    --ui-footer-height: 25px;
    --ui-art-window-ratio: 0.8fr;

}