:root {

    --viewport-bottombar-wrap: 750px;

    --grid-layout-portrait-top: "artWindow";
    --grid-layout-portrait-bottom: "dataWindow";

    --color-text-body: #a4c4ef;
    --color-ui-button: #a4c4ef;

    --color-ui-ultralight: #e1f1fd;
    --color-ui-verylight: #c6e1fa;
    --color-ui-light: #a4c4ef;
    --color-ui-dark: #3875d6;
    --color-ui-verydark: #225bc8;
    --color-ui-ultradark: #2a4880;
    --color-ui-black: #01153b;

    --color-ui-light-transparent: #a4c4ef00;

    --color-ui-active: #beeeef;

    --color-ui-costToken-default: #90e88f;
    --color-ui-costToken-default-bg-inner: #4b585c;
    --color-ui-costToken-default-bg-outer: #4f7e4e69;
    --color-ui-costToken-selected: #6aeaf8;
    --color-ui-costToken-selected-bg-inner: #384765;
    --color-ui-costToken-selected-bg-outer: #47736f69;

    --ui-overlay-color-title: #403c8a;
    --ui-overlay-color-text: #081a3e;
    --ui-overlay-margin-vertical: 12px;
    --ui-overlay-margin-horizontal: 10px;
    --ui-overlay-margin-titlegap: 6px;

    --color-bg-solid: #beeeef;
    --color-bg-solid-semitransparent: #beeeef69;
    /* TODO: wide/short replace bg solid with linear gradient */
    --color-bg-gradient-1: #4e89db;
    --color-bg-gradient-2: #4680db;
    --color-bg-gradient-3: #225bc8;
    /* --color-bg-gradient-1: #beeeef;
    --color-bg-gradient-2: #a4d4f3; */

    --ui-component-color-bg: #323133;
    --ui-component-color-bg-border: #3b3a3d;
    --ui-component-color-bg-highlight: #424143;
    --ui-component-color-bg-highlight-transparent: #42414300;
    --ui-component-color-text: #2a292b;
    --ui-component-color-input: #ffffff;
    --ui-component-color-enabled-light: #32b38a;
    --ui-component-color-enabled-dark: #26a079;

    --ui-component-border-radius: 6.9px;

    --ui-component-toggle-width: 36px;
    --ui-component-toggle-height: 24px;
    --ui-component-toggle-knob-size: 18px;
    --ui-component-toggle-knob-border: 5px;
    --ui-component-toggle-knob-offset-left: 3px;
    --ui-component-toggle-knob-offset-right: 4px;
    --ui-component-toggle-knob-inner:
        calc(var(--ui-component-toggle-knob-size) - (
            var(--ui-component-toggle-knob-border) * 2));

    --ui-component-dropdown-max-height: 169px;

    --ui-helpIcon-size: 12px;
    --ui-helpIcon-leftMargin: 4px;
    --ui-helpIcon-leftMargin-toggle: 10px;
    --ui-helpIcon-leftMargin-rightJustify: -10px;
    --ui-helpIcon-bottomPadding: 0px;
    --ui-helpIcon-qText: 10px;
    --ui-helpIcon-borderWidth: 1px;
    --ui-helpIcon-borderWidth-hover: 2px;

    --ui-data-sidebar-tabs-width: 110px;

    --ui-data-sidebar-color-opacity: 1;
    --ui-data-sidebar-color-text: #525d69;
    --ui-data-sidebar-color-background: #ffffff69;
    --ui-data-sidebar-color-shadow-full: #2e364315;
    --ui-data-sidebar-color-shadow-sharp: #2e364369;

    --ui-data-sidebar-color-text-selected: #525d69;
    --ui-data-sidebar-color-opacity-hover-selected: 1;

    --ui-data-window-margin-topbottom: 21.3px;
    --ui-data-window-margin-leftright: 16.9px;
    --ui-data-window-margin: var(--ui-data-window-margin-topbottom) var(--ui-data-window-margin-leftright);
    --ui-data-window-dwPortrait-margin-left: 2.13px;
    --ui-data-window-dwLandscape-margin-top: 2.13px;
    --ui-data-window-radius: 16.9px;
    --ui-data-window-bottom-margin: 40px;
    --ui-data-window-sidebar-rounding: 8px;
    --ui-data-window-bg-shadow: #22113342;
    --ui-data-window-bg-color: #ffffffcb;
    --ui-data-window-bg-color-transparent: #ffffff00;

    --ui-data-page-padding: 16.9px 10px 10px;
    --ui-data-page-margin-right: 6.9px;

    --ui-art-flexHeight-canvasRatio: 100%;
    --ui-art-flexHeight-infoRatio: 69%;
    --ui-art-flexHeight-infoRatio-KS-dataOnLeft: 92%;

    --ui-art-canvas-inner-inset-topbottom: 21.3px;
    --ui-art-canvas-inner-inset-leftright: 16.9px;
    --ui-art-canvas-border-width: 1.27px;
    --ui-art-canvas-border-radius: 21.3px;

    --ui-art-info-title-height: 32px;
    --ui-art-info-title-margin-bottom: 4.20px;
    --ui-art-info-border-width: 1.27px;
    --ui-art-info-border-top: 20px;
    --ui-art-info-border-sideOuter: 29.75px;
    --ui-art-info-border-sideInner: 24px;
    --ui-art-info-border-bottom: 29.75px;
    --ui-art-info-border-top-portraitScreen: 69px;
    --ui-art-info-border-sideInner-portraitScreen: 16.9px;
    --ui-art-info-landscape-height-offset: 16.9px;
    --ui-art-info-landscape-dataOnTop-margin-offset: 16.9px;

    --ui-header-height: 56px;
    --ui-footer-height: 40px;
    --ui-art-window-ratio: 0.8fr;

    --ui-footer-email-bar-width: 250px;
    --ui-footer-email-bar-iconspace: 32px;
    --ui-footer-emali-btn-width: 100px;
    --ui-footer-kickstarter-width: 220px;
    --ui-footer-kickstarter-wrap-bottom: calc(9px + var(--ui-footer-height));
    --ui-footer-kickstarter-wrap-dataOnLeft: 18px;

    --ui-footer-kickstarter-hover-offset: 6px;
    --ui-footer-kickstarter-buffer-size: -8px;


    /* RAINBOW PASTEL SVG FILTERS */
    --opacity-svg-default-sel: 1;
    --opacity-svg-default-hover: 0.95;
    --opacity-svg-default-unsel: 0.75;
    --color-svg-default-hue-sel: 213deg;
    --color-svg-default-sat-sel: 690%;
    --color-svg-default-bri-sel: 372%;
    --color-svg-default-gry-sel: 96.9%;
    --color-svg-default-hue-unsel: 213deg;
    --color-svg-default-sat-unsel: 469%;
    --color-svg-default-bri-unsel: 400%;
    --color-svg-default-gry-unsel: 86.9%;
    --color-data-bg-blend-default: #eff4ff;
    --color-data-bg-text-default: #2c2d30;
    --color-data-bg-text-default-unsel: #303132;
    --color-base-default: #eff4ff;

    --opacity-svg-red-sel: 1;
    --opacity-svg-red-hover: 0.94;
    --opacity-svg-red-unsel: 0.69;
    --color-svg-red-hue-sel: 352deg;
    --color-svg-red-sat-sel: 420%;
    --color-svg-red-bri-sel: 369%;
    --color-svg-red-gry-sel: 90%;
    --color-svg-red-hue-unsel: 355deg;
    --color-svg-red-sat-unsel: 420%;
    --color-svg-red-bri-unsel: 300%;
    --color-svg-red-gry-unsel: 95%;
    --color-data-bg-blend-red: #ffc8ce;
    --color-data-bg-text-red: #6b000b;
    --color-data-bg-text-red-unsel: #654246;
    --color-base-red: #ffb3ba;

    --opacity-svg-orange-sel: 1;
    --opacity-svg-orange-hover: 0.975;
    --opacity-svg-orange-unsel: 0.8;
    --color-svg-orange-hue-sel: 21.3deg;
    --color-svg-orange-sat-sel: 604%;
    --color-svg-orange-bri-sel: 320%;
    --color-svg-orange-gry-sel: 96.9%;
    --color-svg-orange-hue-unsel: 21.3deg;
    --color-svg-orange-sat-unsel: 420%;
    --color-svg-orange-bri-unsel: 390%;
    --color-svg-orange-gry-unsel: 92%;
    --color-data-bg-blend-orange: #fedeb9;
    --color-data-bg-text-orange: #69420f;
    --color-data-bg-text-orange-unsel: #655745;
    --color-base-orange: #fedeb9;

    /*  yellow not implemented  
    --opacity-svg-yellow-sel: 1;
    --opacity-svg-yellow-hover: 0.95;
    --opacity-svg-yellow-unsel: 0.75; 
    --color-svg-yellow-hue-sel: 0deg;
    --color-svg-yellow-sat-sel: 100%;
    --color-svg-yellow-bri-sel: 100%;
    --color-svg-yellow-gry-sel: 0%;
    --color-svg-yellow-hue-unsel: 0deg;
    --color-svg-yellow-sat-unsel: 100%;
    --color-svg-yellow-bri-unsel: 100%;
    --color-svg-yellow-gry-unsel: 0%;
    --color-data-bg-blend-yellow: #fbfbb7;
    --color-data-bg-text-yellow: #3d3d06;
    --color-data-bg-text-yellow-unsel: #40402f;
    --color-base-yellow: #fbfbb7; */

    --opacity-svg-green-sel: 1;
    --opacity-svg-green-hover: 0.94;
    --opacity-svg-green-unsel: 0.69;
    --color-svg-green-hue-sel: 132deg;
    --color-svg-green-sat-sel: 1690%;
    --color-svg-green-bri-sel: 469%;
    --color-svg-green-gry-sel: 90%;
    --color-svg-green-hue-unsel: 140deg;
    --color-svg-green-sat-unsel: 2000%;
    --color-svg-green-bri-unsel: 469%;
    --color-svg-green-gry-unsel: 91%;
    --color-data-bg-blend-green: #d1ffdb;
    --color-data-bg-text-green: #053f19;
    --color-data-bg-text-green-unsel: #3a483f;
    --color-base-green: #baffc9;

    --opacity-svg-blue-sel: 1;
    --opacity-svg-blue-hover: 0.95;
    --opacity-svg-blue-unsel: 0.75;
    --color-svg-blue-hue-sel: 213deg;
    --color-svg-blue-sat-sel: 690%;
    --color-svg-blue-bri-sel: 369%;
    --color-svg-blue-gry-sel: 94.20%;
    --color-svg-blue-hue-unsel: 213deg;
    --color-svg-blue-sat-unsel: 469%;
    --color-svg-blue-bri-unsel: 400%;
    --color-svg-blue-gry-unsel: 86.9%;
    --color-data-bg-blend-blue: #b7ddfb;
    --color-data-bg-text-blue: #07274c;
    --color-data-bg-text-blue-unsel: #46505c;
    --color-base-blue: #b7ddfb;

    --opacity-svg-purple-sel: 1;
    --opacity-svg-purple-hover: 0.975;
    --opacity-svg-purple-unsel: 0.8;
    --color-svg-purple-hue-sel: 256deg;
    --color-svg-purple-sat-sel: 690%;
    --color-svg-purple-bri-sel: 400%;
    --color-svg-purple-gry-sel: 92.5%;
    --color-svg-purple-hue-unsel: 256deg;
    --color-svg-purple-sat-unsel: 720%;
    --color-svg-purple-bri-unsel: 420%;
    --color-svg-purple-gry-unsel: 90%;
    --color-data-bg-blend-purple: #e5c5f9;
    --color-data-bg-text-purple: #310f47;
    --color-data-bg-text-purple-unsel: #3e3345;
    --color-base-purple: #e5c5f9;


    /* DEMO COLORS */
    --demo-bg-navbar: #00000022;
    --demo-bg-winart: #88888821;
    --demo-bg-windat: #ffffff23;

}

@property --ui-data-sidebar-separator-transparent {
    syntax: '<color>';
    initial-value: #22449900;
    inherits: false;
}
@property --ui-data-sidebar-separator-opaque {
    syntax: '<color>';
    initial-value: #22449969;
    inherits: false;
}
@property --ui-data-sidebar-separator-transition {
    syntax: '<color>';
    /* initial-value should match ui-data-sidebar-opaqe */
    initial-value: #22449969;
    inherits: false;
}